.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  padding: 64px var(--viewport-padding);
  margin: 0 auto;
  margin-top: -12rem;

  gap: 16px;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -28rem;
  }
}

.mainHeading {
  margin-top: 1em;
  margin-bottom: 1.5em;
}
